/* ------------------------------------- 
    HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}
table.global-head {
  background-color:#3d3d3d;
  width:100%;
  table.global-head-content {
    width:100%;
    td {
      padding:3px 0;
      width:50%;
    }
  }
}
  a.view-browser {
    color:#747474;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    text-decoration:none;
    img {
      margin-right:4px;
      width:14px;
      height:19px;
      vertical-align:bottom;
    }
  }
#logo {
  width:79px;
  height:16px;
  padding:8px 0 4px;
}

.header.container {padding:18px 0 14px;}
.header h6 {
  color:#888888!important;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:bold;
  text-shadow:0 1px 0 $white;
}
.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}

/* ------------------------------------- 
    UI ELEMENTS 
------------------------------------- */

// Content Blocks
table.content-img-floatleft {
  tr:last-child {
    td {border-bottom:0;}
  }
  td {
    padding-bottom:18px;
    padding-top:18px;
    border-bottom:1px solid #ebebeb;
  }
  td.content-block {
    padding:18px 0 18px 14px;
    h4 {
      margin-top:0;
    }
  }
}

// Table of Contents
table.toc {
  background-color:#d4f5ff;
  border-bottom:1px solid #b2ced6;
  border-top:1px solid #b2ced6;
  td {
    padding:10px 18px;
    text-align:center;
    p {margin:0;}
    p, strong {
      color:#1c1c1c;
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:15px;
      line-height:21px;
    }
  }
}
// Event Info
.event-info {
  p {
    color:$white;
    margin:0;
    a {
      color:$blue;
    }
  }
}

// Event Listings Module
.events-heading {
  color:$orangeDark!important;
  margin-bottom:24px;
}
.ico-event {
  width:19px;
  height:21px;
}
table.content-img-floatleft.events {
  tr {
    &:first-child {
      td {
        padding-top:0;
      }
    }
    td.content-block {
      h4 {
        margin-bottom:2px;
      }
      p.event-date {
        color:$blueDark;
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:12px;
        font-weight:bold;
        margin:0 0 10px 0;
      }
      p {
        font-size:14px;
        line-height:22px;
        margin:0;
      }
    }
  }
}

// Twitter Module
.twitter-heading {
  color:#00b9f3!important;
}
.ico-twitter {
  width:23px;
  height:17px;
}
table.content-img-floatleft.tweets {
  tr {
    td {
      border:0;
      padding-top:0;
      &.figure.avatar {
        width:50px;
      }
      &.content {
        padding-left:8px;
      }
      p {
        font-size:14px;
        line-height:18px;
        margin:0;
      }
    }
  }
}

// Ads
.ad {
  margin:36px 0;
}

// Callouts
.callout {
  margin-bottom:18px;
  td.callout-container {
    padding:18px;
  }
  &.white {
    h4, em, p {color:$orangeDark!important;}
  }
  &.gray {
    background-color:$grayLight;
    .inner {
      background-color:$grayLight;
    }
  }
  &.dk-gray {
    background-color:$grayDark;
    h4, em, p {
      color:unquote("#ffffff")!important;
    }
  }
  &.orange {
    background-color:$orange;
    h4, em, p {
      color:unquote("#ffffff")!important;
    }
  }
  &.dk-orange {
    background-color:$orangeDark;
    h4, em, p {
      color:unquote("#ffffff")!important;
    }
  }
  &.deep-blue {
    background-color:#002C55;
    h4, em, p, a {
      color:unquote("#ffffff")!important;
    }
    .first {
      font-size:22px;
      margin-top:0;
    }
    .last {
      line-height:14px;
      margin:0;
    }
  }
  &.horiz-borders {
    background-color:$white;
    border-bottom:1px solid $gray;
    border-top:1px solid $gray;
    padding:3px 0;
    div.inner {
      border-bottom:1px solid $gray;
      border-top:1px solid $gray;
      padding:18px;
    }
  }
  &.breaking-news-signup {
    background-image:url('http://images.info.americanpublicmediagroup.org/EloquaImages/clients/AmericanPublicMediaGroup/{3aaa27ef-71a4-4c22-b95b-38db3f82db1a}_bg-breakingnews.png');
    background-position:0 0;
    background-repeat:no-repeat;
    .callout-container {
      padding:13px 18px;
    }
  }
  &.app-promo {
    padding:0;
  }
}