/* Mixins */
$white: #ffffff;
$grayLight: #efefef;
$gray: #cccccc;
$grayDark: #3d3d3d;
$nearBlack: #1c1c1c;
$black: #000000;
$orange: #f37a00;
$orangeDark: #b24401;
$blue: #00b9f3;
$blueDark: #007fa6;