@import 'bourbon';
@import 'mixins';

/* ------------------------------------- 
    GLOBAL 
------------------------------------- */
* { 
  margin:0;
  padding:0;
}
* { font-family: Georgia, serif; }

img { 
  max-width: 100%; 
}
.collapse {
  margin:0;
  padding:0;
}
body {
  -webkit-font-smoothing:antialiased; 
  -webkit-text-size-adjust:none; 
  width: 100%!important; 
  height: 100%;
  margin:0 !important;
  // Add classes to the layout's BODY element to achieve different textures
  &.editorial {
    background-color:#f2f2f2;
    background-image: url('http://images.info.americanpublicmediagroup.org/EloquaImages/clients/AmericanPublicMediaGroup/{1c497704-8c95-49c6-a5fd-e60d32c91a60}_bg-texture.jpg');
    background-position:left top;
    background-repeat:repeat;
  }
}


/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a { color: $blueDark;}

.btn {
  text-decoration:none;
  color:$white;
  background-color: #666;
  padding:8px 22px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  display: inline-block;
  white-space:nowrap;
  &.blue {
    background-color:$blue;
    border:1px solid lighten($blue, 25%);
    text-shadow:0 1px 0 darken($blue, 35%);
    &.alt {
      border-color:darken($blue, 15%);
    }
  }
  &.dk-blue {
    background-color:$blueDark;
    border:1px solid darken($blueDark, 15%);
    text-shadow:0 1px 0 darken($blueDark, 35%);
  }
  &.orange {
    background-color:$orange;
    border:1px solid lighten($orange, 25%);
    text-shadow:0 1px 0 darken($orange, 35%);
    &.alt {
      border-color:darken($orange, 15%);
    }
  }
  &.dk-orange {
    background-color:$orangeDark;
    border:1px solid darken($orangeDark, 10%);
    text-shadow:0 1px 0 darken($orangeDark, 35%);
  }
  &.pledge {
    padding:8px;
    img.ico-pledge {
      width:32px;
      height:22px;
      margin-right:10px;
    }
  }
}
.social-wrapper{
  border-bottom:1px solid $gray;
  border-top:1px solid $gray;
  padding:3px 0;
}
table.social {
/*  padding:15px; */
  background-color: #ebebeb;
  border-bottom:1px solid $gray;
  border-top:1px solid $gray;
}
.social .soc-btn {
  border:1px solid $white;
  padding: 3px 7px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:bold;
  margin-bottom:10px;
  text-decoration:none;
  color: $white;
  display:block;
  text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.kpcc { background-color: $orangeDark!important; }
a.ms { background-color: $black!important; }

.sidebar .soc-btn { 
  display:block;
  width:100%;
}

img[align="left"] {
  margin-right:6px;
}

/* ------------------------------------- 
    BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
    FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important;}
.footer-wrap .container .content {padding:10px 15px;}
.footer-wrap .container .content span {color:#b2b2b2;display:inline-block;padding:0 6px;}
.footer-wrap .container .content p {margin:0;}
.footer-wrap .container .content p a {
  color:#888888;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-decoration:none;
  white-space:nowrap;
}
.footer-wrap p.colophon {
  color:#888888;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:10px;
  line-height:14px;
  margin-bottom:0;
}


/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: Georgia, serif; line-height: 1.1; margin-bottom:15px; margin-top:10px; color:$black!important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:$black!important;text-decoration:none;}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:400; font-size: 42px;line-height:50px;}
h2 { font-weight:400; font-size: 32px;line-height:42px;}
h3 { font-weight:400; font-size: 24px;}
h4 { font-weight:400; font-size: 18px;}
h5 { font-weight:400; font-size: 16px;}
h6 { font-weight:400; font-size: 14px;}
.section-heading, .section-heading a {
  color:$orangeDark!important;
  font-size:20px;
  text-transform:uppercase;
}

.collapse { margin:0!important;}

p, ul { 
  color:#3d3d3d;
  margin-bottom: 10px; 
  font-weight: normal; 
  font-size:15px; 
  line-height:24px;
}
p {margin:14px 0 18px;}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}
p.caption{font-size:12px;}

ul {
  margin-left:12px;
  padding:0;
  li {
    margin-left:5px;
    padding-bottom:4px;
    a {
      text-decoration:none;
    }
    cite {
      color:#686868;
      display:inline-block;
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:12px;
      font-style:normal;
      font-weight:bold;
      margin-left:4px;
    }
  }
}  
hr {
  background-color:$white;
  border-bottom:1px solid $gray;
  border-top:1px solid $gray;
  border-right:0;
  border-left:0;
  height:3px;
  margin-bottom:18px;
}

/* ------------------------------------- 
    SIDEBAR 
------------------------------------- */
ul.sidebar {
  background:#ebebeb;
  display:block;
  list-style-type: none;
  li { 
    display: block; margin:0;
    a {
      text-decoration:none;
      color: #666;
      padding:10px 16px;
    /*  font-weight:bold; */
      margin-right:10px;
    /*  text-align:center; */
      cursor:pointer;
      border-bottom: 1px solid $gray;
      border-top: 1px solid $white;
      display:block;
      margin:0;
      &.last { border-bottom-width:0px;}
    }
  }
}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block !important;
  max-width:600px !important;
  margin:0 auto !important; /* makes it centered */
  clear:both !important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:15px;
  max-width:600px;
  margin:0 auto;
  display:block; 
}
.content-nopad {
  padding:0;
  max-width:600px;
  margin:0 auto;
  display:block; 
}
.content-main {
  background-color:$white;
  border-top:1px solid $gray;
  border-bottom:1px solid $gray;
  border-left:1px solid $gray;
  border-right:1px solid $gray;
  display:block; 
  padding:18px;
  margin:0 auto;
  max-width:600px;
  .content {
    padding:0;
  }
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
  width: 300px;
  float:left;
  table { width:100%;}
}
.column tr td { padding: 15px; }
.column-wrap { 
  background-color:$white;
  border:1px solid $gray;
  padding:0!important; 
  margin:0 auto; 
  max-width:600px!important;
  .full-width-column {
    padding:15px;
    td {
      max-width:566px;
    }
  }
}
.social .column {
  width: 275px;
  min-width: 275px;
  float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }

@import "custom"
