@import 'bourbon';

/* ------------------------------------- 
    GLOBAL 
------------------------------------- */
* { 
  margin:0;
  padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
  max-width: 100%; 
}
.collapse {
  margin:0;
  padding:0;
}
body {
  -webkit-font-smoothing:antialiased; 
  -webkit-text-size-adjust:none; 
  width: 100%!important; 
  height: 100%;
  // Add classes to the layout's BODY element to achieve different textures
  &.editorial {
    background:#f2f2f2 url('bg-texture.jpg') repeat 0 0;
  }
}


/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a { color: #2BA6CB;}

.btn {
  text-decoration:none;
  color: #FFF;
  background-color: #666;
  padding:10px 16px;
  font-weight:bold;
  margin-right:10px;
  text-align:center;
  cursor:pointer;
  display: inline-block;
}

p.callout {
  padding:15px;
  background-color:#3d3d3d;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  margin-bottom: 15px;
}
.callout a {
  font-weight:bold;
  color: #2BA6CB;
}

table.social {
/*  padding:15px; */
  background-color: #ebebeb;
  
}
.social .soc-btn {
  padding: 3px 7px;
  font-size:12px;
  margin-bottom:10px;
  text-decoration:none;
  color: #FFF;font-weight:bold;
  display:block;
  text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.sidebar .soc-btn { 
  display:block;
  width:100%;
}

/* ------------------------------------- 
    HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}
table.global-head {
  background-color:#3d3d3d;
  width:100%;
}
  a.view-browser {
    color:#747474;
    font-size:12px;
    text-decoration:none;
    img {
      margin-right:4px;
      width:14px;
      height:19px;
      vertical-align:bottom;
    }
  }
#logo {
  width:79px;
  height:16px;
  padding:6px 0;
}
.header-cc {
  width:344px;
  height:30;
}

.header.container {padding:18px 0 14px;}
.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* ------------------------------------- 
    BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
    FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
  font-size:10px;
  font-weight: bold;
  
}


/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; color:#888888;}

.collapse { margin:0!important;}

p, ul { 
  margin-bottom: 10px; 
  font-weight: normal; 
  font-size:14px; 
  line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
  margin-left:5px;
  list-style-position: inside;
}

/* ------------------------------------- 
    SIDEBAR 
------------------------------------- */
ul.sidebar {
  background:#ebebeb;
  display:block;
  list-style-type: none;
  li { 
    display: block; margin:0;
    a {
      text-decoration:none;
      color: #666;
      padding:10px 16px;
    /*  font-weight:bold; */
      margin-right:10px;
    /*  text-align:center; */
      cursor:pointer;
      border-bottom: 1px solid #CCCCCC;
      border-top: 1px solid #FFFFFF;
      display:block;
      margin:0;
      &.last { border-bottom-width:0px;}
    }
  }
}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block !important;
  max-width:600px !important;
  margin:0 auto !important; /* makes it centered */
  clear:both !important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:15px;
  max-width:600px;
  margin:0 auto;
  display:block; 
}
.content-nopad {
  padding:0;
  max-width:630px;
  margin:0 auto;
  display:block; 
}
.content-main {
  background-color:#ffffff;
  border:1px solid #CCCCCC;
  padding:15px;
  max-width:600px;
  margin:0 auto;
  display:block; 
  .content {
    padding:0;
  }
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
  width: 300px;
  float:left;
  table { width:100%;}
}
.column tr td { padding: 15px; }
.column-wrap { 
  background-color:#ffffff;
  border:1px solid #CCCCCC;
  padding:0!important; 
  margin:0 auto; 
  max-width:600px!important;
  .full-width-column {
    padding:15px;
    td {
      max-width:566px;
    }
  }
}
.social .column {
  width: 280px;
  min-width: 279px;
  float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }
